<br>
<div class="col-12 col-md-10 col-lg-8 mx-auto p-5 text-center" id="formularioMateria">
    <div class="col-12 col-md-5 mx-auto px-5">
        <img src="./imagenes/Logo vertical.png" class="img-fluid px-5">
    </div>
    <hr>
    <div class="col-12">
        <h1 id="titulo-carrera">Formulario de Creación de Categoría</h2>
    </div>
    <div class="col-8 mx-auto">
        <form class="px-0 px-md-5">
            <div class="form-group borde-formulario">
                <input type="text" class="form-control" id="nombreCategoria" ng-model="nombreCategoria" placeholder="Nombre de la Categoría" required="true">
            </div>
            <br>
            <button type="submit" class="my-auto px-4 py-2 boton-azul" ng-click="crear_categoria()" value="categoria">Crear Categoría</button>
        </form>
    </div>
</div>
</div>