<!-- -------------------Area Clase-------------------- -->
<div ng-show="content" class="col p-3 area">
    <div class="col-12 p-0 text-center"><img class="py-4 iconos" src="./imagenes/CONOCE A TU DOCENTE.png"></div>
    <div ng-if="usuario == 1" class="col">
        <a class="nav-link p-0" ng-click="edicion()">
            <button type="button" class="my-auto px-4 py-2 boton-editar" id="editarDocente">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </button>
        </a>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-lg-6 text-center">
            <h2 class="titulos-clase">{{Equipo[0]}}</h2>
            <div class="col-12 text-center"><img src="./fotos/{{FotoDoc}} " width="250" height="250"></div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 text-justify">
                    <h2 class="titulos-clase text-center">Perfil Profesional</h2>
                    <p>{{PerfilDoc}}</p>
                    <hr>
                </div>

                <div class="col-12 text-justify">
                    <h2 class="titulos-clase text-center">Bienvenida</h2>
                    <p>{{Equipo[1]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------------Fin Area Clase-------------------- -->

<!-- -------------------Area Edición-------------------- -->
<div ng-show="edit" class="col p-3 area">
    <form>
        <div class="col-12 p-0 text-center"><img class="py-4 iconos" src="./imagenes/CONOCE A TU DOCENTE.png"></div>
        <div ng-if="usuario == 1" class="col">
            <a class="nav-link p-0" ng-click="contenido()">
                <button type="button" class="my-auto px-4 py-2 boton-editar" id="editarDocente">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
            </a>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <div class="form-group borde-formulario">
                    <select class="custom-select" ng-model="Equipo[0]" id="docentes">
                        <option ng-repeat="Docentes in listaDoc" value="{{Docentes}}">
                            {{Docentes}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="form-group borde-formulario">
                    <textarea class="form-control" id="fundamentosMateria" ng-model="Equipo[1]"
                        placeholder="Palabras de Bienvenida Docente" required rows="3"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="col text-center">
            <button type="submit" class="my-auto mx-auto px-4 py-2 boton-azul" ng-click="modContenido('Equipo')"
                value="docente">Guardar</button>
        </div>
    </form>
</div>
<!-- -------------------Fin Area Edición-------------------- -->