<!-- -------------------Area Clase-------------------- -->
<div ng-show="content" class="col p-3 area">
    <div class="col-12 p-0 text-center"><img class="py-4 iconos" src="./imagenes/PRUEBA DE CONOCIMIENTO.png"></div>
    <div ng-if="usuario == 1 && showEdit == true" class="col">
        <a class="nav-link p-0" ng-click="edicion()">
            <button type="button" class="my-auto px-4 py-2 boton-editar" id="editarFrase">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </button>
        </a>
    </div>
    <div class="col-12 text-justify">
        <h1 class="titulos-clase">Completa la Frase</h1>
        <hr>
        <p class="text-justify">Prueba de conocimiento, completar la frase</p>
        <br>
        <span ng-repeat="Objetos in objetosResp">
            {{listAns[$index].title}}<textarea rows="1" cols="20" ng-style="colores[$index]" ng-drop="true"
                ng-drop-success="objetosMov[$index]($data,$event)"
                class="boton-azul-borde-mediano"> {{Objetos[Objetos.length-1].name}}</textarea>

        </span>
    </div>
    <br>


    <div class="row">
        <div class="col-12 col-md-8 mx-auto text-center">
            <a ng-repeat="obj in listItems" class="nav-link" href="#"> <button ng-drop="true" ng-drop-success="onDropCompleteRemove($data,$event)" ng-drag="true" ng-drag-data="obj" type="button" class="boton-amarillo-block">{{obj.title}}</button></a>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a class="nav-link p-2"> <button ng-click="confirmarAsoc()" type="button" class="boton-amarillo" data-toggle="modal">Confirmar</button></a>
    </div>

</div>
<!-- -------------------Fin Area Clase-------------------- -->

<!-- -------------------Area Edición-------------------- -->
<div ng-show="edit" class="col p-3 area">
    <form>
        <div class="col-12 p-0 text-center"><img class="py-4 iconos" src="./imagenes/PRUEBA DE CONOCIMIENTO.png"></div>
        <div class="col">
            <a class="nav-link p-0" ng-click="contenido()">
                <button type="button" class="my-auto px-4 py-2 boton-editar" id="editarFrase">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
            </a>
        </div>
        <div class="col-12 text-center">
            <h1 class="titulos-clase">Completa la Frase</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-12 mx-auto text-justify">
                <div class="form-group borde-formulario">
                    <textarea class="form-control" ng-model="PruebaAsoc[4]" id="PruebaAsoc[4]" placeholder="Texto" rows="3"></textarea>
                </div>
                <div class="form-group borde-formulario">
                    <input type="text" class="form-control" ng-model="PruebaAsoc[0]" id="PruebaAsoc[0]" placeholder="Palabra 1">
                </div>
                <div class="form-group borde-formulario">
                    <textarea class="form-control" ng-model="PruebaAsoc[5]" id="PruebaAsoc[5]" placeholder="Continuación texto" rows="3"></textarea>
                </div>
                <div class="form-group borde-formulario">
                    <input type="text" class="form-control" ng-model="PruebaAsoc[1]" id="PruebaAsoc[1]" placeholder="Palabra 2">
                </div>
                <div class="form-group borde-formulario">
                    <textarea class="form-control" ng-model="PruebaAsoc[6]" id="PruebaAsoc[6]" placeholder="Continuación texto" rows="3"></textarea>
                </div>
                <div class="form-group borde-formulario">
                    <input type="text" class="form-control" ng-model="PruebaAsoc[2]" id="PruebaAsoc[2]" placeholder="Palabra 3">
                </div>
                <div class="form-group borde-formulario">
                    <textarea class="form-control" ng-model="PruebaAsoc[7]" id="PruebaAsoc[7]" placeholder="Continuación texto" rows="3"></textarea>
                </div>
                <div class="form-group borde-formulario">
                    <input type="text" class="form-control" ng-model="PruebaAsoc[3]" id="PruebaAsoc[3]" placeholder="Palabra 4">
                </div>
                <div class="form-group borde-formulario">
                    <textarea class="form-control" ng-model="PruebaAsoc[8]" id="PruebaAsoc[8]" placeholder="Continuación texto" rows="3"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="col text-center">
            <button type="submit" class="my-auto mx-auto px-4 py-2 boton-azul" ng-click="modContenido('PruebaFrase')" value="frase">Guardar</button>
        </div>
    </form>

</div>
<!-- -------------------Fin Area Edición-------------------- -->