<!-- -------------------Area Clase-------------------- -->
<div class="col p-3 area">
    <div class="col-12 p-0 text-center"><img class="py-4 iconos" src="./imagenes/TALLER.png"></div>
    <div ng-if="usuario == 1" class="col">
        <a class="nav-link p-0">
            <button type="button" class="my-auto px-4 py-2 boton-editar"
                ng-click="tallerData(lecMod,'edit',lecAux); modificar()" data-toggle="modal" data-target="#modalTaller">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </button>
        </a>
    </div>
    <div class="col-12 text-center">
        <h1 class="titulos-clase">Instrucciones</h1>
        <hr>
    </div>
    <div id="DisplayContentT" class="col-12"></div>
    <br>
    <div class="col-12">
        <h1 class="titulos-clase text-center">Entrega</h1>
        <hr>
        <p class="text-justify">Envia el archivo pdf con el desarrollo del taller al correo prueba@gmail.com.</p>
    </div>
</div>
<!-- -------------------Fin Area Clase-------------------- -->